<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>个人信息</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit">确认修改</button>
                        <ul class="list-unstyled">
                            <li>
                                <psan>联系电话:</psan>
                                <br>
                                <input type="text" name="联系电话"  placeholder="即原先登录所使用的账号" />
                            </li>
                            <li>
                                <span>旧密码:</span>
                                <br>
                                <input type="password" name="密码"  placeholder="输入密码且不少于8位" />
                            </li>
                            <li>
                                <span>新密码:</span>
                                <br>
                                <input type="password" name="用户密码"  placeholder="输入密码且不少于8位" />
                            </li>
                            <li>
                                <span>确认密码:</span>
                                <br>
                                <input type="password" name="确认密码"  />
                            </li>
                        </ul>
                    </form>
			    </div>
			</div>
        </div>
</body>
</html>