<!DOCTYPE html>
<html lang="zh-hans" >
{% load staticfiles %}
<head>
<meta charset="UTF-8">
<title>电动汽车充电信用系统</title>

<!--图标样式-->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>

<link rel="stylesheet" href="{% static 'css/login.css' %}">


</head>

<body>

  <h2>电动汽车充电信用系统</h2>
<div class="container" id="container">


	<div class="form-container sign-in-container">
		<form method="POST" action="">
			<h1>注册</h1>
            {% csrf_token %}
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>第三方账号注册</span> -->
			<input type="text" name="联系电话" placeholder="联系电话,必填呦！！！" />
			<input type="password" name="用户密码" placeholder="密码至少8位且不全为数字" />
            <input type="password" name="确认密码" placeholder="确认密码">
			<input type="submit" value="注册">
		</form>
	</div>


			<div class="overlay-panel overlay-right" style="background:#FF6347;">
                    <h1>欢迎回来！</h1>
				    <p>请您先登录您的个人信息，进行操作。</p>
				    <button><a href={% url '登录' %}>登录</a></button>
			</div>


<footer>
	<p>
		版权声明
	</p>
</footer>



<script  src="static/js/login.js"></script>



</body>

</html>
